html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
  }

/*----------CSS Custom Props----------*/
  :root{
    --main-blue: #020070; 
    --yellow-accent: #ebdfb1;;
    --grey-accent: #46484b;
    --gold-ish: rgb(255, 174, 0);
    --light-blue-accent: #c3cfd4;
    
}
/*----------CSS Custom Props----------*/

body{
  margin: 0 auto;
  padding: 0;
  font-family: Georgia, serif;
}

/*----------Link Style----------*/
a:link,
a:visited{
  color: white;
}

a.ring:link{
  color: var(--gold-ish);
}

a.ring:visited{
  color: red;
}
/*----------Link Style----------*/

/*----------Nav----------*/
nav li, footer li{
  list-style: none;
}
 
nav{
  position: sticky;
  top: 0;
  padding: 30px;
  padding-top: 5px;
  padding-bottom: 15px;
  background: white;
  box-shadow: rgba(252, 255, 49, 0.25) 0px 15px 20px -5px;
  display: flex;
  justify-content: center;
  }

.navbar ul{
    display: grid;
    grid-column-gap: 5%;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px 5px 5px 5px;
}

.navbar .button{
  display: grid;
  padding: 5px 8px;
  border: 1px solid #000000;
  background-color: var(--grey-accent);
  text-decoration: none;
  border-radius: 4px;
  margin-top: 10px;
  color: #ffffff;
  width: 10em;
  text-align: center;
  font-size: 75%;
}
/*----------Nav----------*/

  header{
   /* position: sticky;
    top: 0;*/
    padding: 30px;
    text-align: center;
    background: var(--main-blue);
    color: white;
    font-size: 20px;
  }

  main.container, .chapters-container, .bio-container{
    padding: 30px;
  }

  main.container, .chapters-container, .bio-container, .container{
    width: 420px;
    margin: 0 auto;
  }

  /*----------Homepg and Author pg picture centering----------*/
  .img-container{
    text-align: center;
  }

  img{
    max-width: 100%; /*remove later?*/
    height: auto;
  }
  /*----------Homepg and Author pg picture centering----------*/

  #summary{
    text-align: center;
  }

  #history, #biography, #editions, #chapters{
    text-align: center;
    background: var(--yellow-accent);
    border-radius: 10px;
  }

  #composition, #expansions, #summary, #success{
    text-align: center;
    background: var(--light-blue-accent);
    border-radius: 10px;
  }
/*----------List on chapter page----------*/
  .outer-chapter-list{
    list-style-type: none;
    margin:0px auto;
    padding: 0px;          
    font-weight: bold;
    font-style: italic;
  }

  .inner-chapter-list {
    list-style-type: none;
    margin:0px auto;
    padding: 0px;
    font-weight: normal;
    font-style: italic;
  }

  .outer-chapter-list li,.inner-chapter-list li{
    margin-bottom: 5px;
  }
/*----------List on chapter page----------*/
  
/*----------Footer----------*/
  footer{
    max-height: 12vh;
    text-align: center;
    background: var(--main-blue);
    color: white;
    font-size: 17px;
   
    padding: 0px 30px 15px 30px;

  }

  footer ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0px 5px 25px 5px;
  }

  .footlink {
    text-decoration: none;
  }
/*----------Footer----------*/

/*----------cards-----------*/
  .editions-container{
    margin: 0px;
    padding: 20px;
    font-family: sans-serif;
  }

  .card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
  }

  .card{
    width: 300px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
    margin: 20px;
  }

  .card img{
    max-width: 100%;
    height: auto;
  }

  .card-content{
    padding: 16px;
    text-align: center;
  }

  .card-content h3{
    font-size: 25px;
    margin-bottom: 5px;
  }

  .card-content p{
    color:rgb(133, 133, 133);
    font-size: 15px;
    line-height: 1.3;
  }

  .card-content .button{
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--main-blue);
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #ffffff
  }
  /*----------cards----------*/


  /*----------Media Query for Tablet Breakpoint----------*/
  @media all and (min-width:768px){

    main.container, .chapters-container, .bio-container, .container{
      width: 768px;
      margin: auto;;
    }

    .navbar ul{
      grid-column-gap: 5%;
      justify-content: center;
  }
  
    .navbar .button{
     padding: 10px 12px;
     width: 15em;
     font-size: 90%;
  }

    #ship{
      grid-area: ship;
    }
    #summary{
      grid-area: summary;
    }
    #history{
      grid-area: history;
    }
    #chapters{
      grid-area: chapters;
    }
    #composition{
      grid-area: composition;
    }
    #expansions{
      grid-area: expansions;
    }
    #professor{
      grid-area: professor;
    }
    #biography{
      grid-area: biography;
    }
    #success{
      grid-area: success;
    }
   
    main.container{
      display:grid;
      grid-column-gap: 15px;
      grid-template-areas: 
      "ship ship history"
      "ship ship history"
      "summary summary history"
      ; 
    }
    
    .chapters-container{
      display: grid;
      grid-column-gap: 15px;
      grid-row-gap: 15px;
      grid-template-columns: 2fr 1fr;
      grid-template-areas: 
      "chapters composition"
      "chapters expansions"
      ;
    }

    .bio-container{
      display: grid;
      grid-column-gap: 15px;
      grid-row-gap: 15px;
      grid-template-areas: 
      "professor biography"
      "success biography"
      ;
    }

    
    .inner-chapter-list, .outer-chapter-list, #chapters h1{
      font-size: 22px;
      
    }


    .outer-chapter-list li,.inner-chapter-list li{
      margin-bottom: 30px;
    }

  }
 /*----------Media Query for Tablet Breakpoint----------*/


  /*----------Media Query for Desktop Breakpoint----------*/
    @media all and (min-width: 1200px){

      main.container, .chapters-container, .bio-container, .container, nav{
        width: 1200px;
        margin: auto;
      }

      .navbar ul{
        grid-column-gap: 25%;
        justify-content: center;
    }
    
      .navbar .button{
       padding: 10px 12px;
       width: 15em;
       font-size: 90%;
    }
    
    #expansions, #composition, #success, #biography, #summary, #history{
      line-height: 2;
    }


    .inner-chapter-list, .outer-chapter-list, #chapters h1{
      font-size: 25px;
    }

    .outer-chapter-list li,.inner-chapter-list li{
      margin-bottom: 30px;
    }


    }
  /*----------Media Query for Desktop Breakpoint----------*/
  

