/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/*Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/ */
/* Start of "Micro clearfix" */

.cf {
    zoom: 1;
  }
  .cf:before,
  .cf:after {
    content: "";
    display: table;
  }
  .cf:after {
    clear: both;
  }
  
  /* End of "Micro clearfix" */

  main{
    width: 960px;
    margin: 22px auto;
    border: 1px solid #000;
    background-image: url("../img/grid.png");
  }

  header.primary, footer.primary{
    width: 916px;
    margin: 22px;
    background-color:rgb(135, 100, 168);
    float:left;
    padding: 22px;
  }

  
  #blog{
    width: 682px;
    background-color: aqua;
    float: left;
    margin-left: 22px;
    padding: 20px;
  }

  aside{
    width: 214px;
    float: left;
    background-color: darkgoldenrod;
    margin-left: 20px;
    padding: 22px;
  }

