* {
	margin: 0px;
	padding: 0px;
}

body {
	text-align: center;
	font-family: Georgia, serif;
	font-stretch: expanded;
	font-variant: small-caps;
	background-color: #29292b;
	font-size: 20px;
	line-height: 2em;
}

#container {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 50px;
}


