h1{
    align-items: center;
}
.grid-container{
    display:grid;
    gap:20px;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    background-color: #fff;
    color: #444;
    list-style-type: none;
    
}

.box{
    background-color: #000;
    border-radius: 5px;
    padding: 20px;
    text-decoration: none;

}

.box a {
    text-decoration: none;
    color: #fff;
    font-size: 175%;
    
}


